* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #F3F8FF,
}


/* Title - Hard coded*/
.title-el {
    color: #161A30;

}

/* Where Boredbot API will render result */
.idea {
    color: #31304D;

}

/* div that holds the image */
.image-container {
    width: 25em;
    height: 25em;
    margin: 0 auto;
}

.return-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 1em;

}

.btn-container{
    display: flex;
    align-items: center;
    justify-content: center;
margin: 0 auto;
}

.button {
    background-color: #161A30;
    color: #F3F8FF !important;
    /* width: 15em !important;
    height: 5em !important; */
    font-size: 1rem !important;
    margin: 1em auto;
}